body{
    background-color: black;
}



.nav-bar{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    gap:40px;
    background-color: #E1d90d;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    font-family: 'HK Grotesk', sans-serif;
    align-items: center;
}

.home{
    margin-left:10px
}
.nav{
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
}
h1{ 
    font-family: 'HK Grotesk', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color:#E1d90d ;
    font-weight: lighter;
    padding: 20px;
    font-size: 40px;
}
.rest{
    display:grid;
    margin-top: 110px;;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
}
.charts img{

height: 50%;
width: auto;
}

