body{
    height: 100%;
    background-color: black;
}
.layoutManager{
display: block;
height: 100%;
width: 100%;
position: fixed;
top:0;
left:0;
}
/*======================================================================================*/
.nav-bar{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start ;
    align-items: center;
    background-color: #E1d90d;
    font-size: 1.3rem;
    font-family: 'HK Grotesk', sans-serif;  
    gap:40px;
}
.nav{
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}
.title{ 
    height:100%;
    background-color: black;
}
.title>h1{
    color:#E1d90d ;
    margin: 0px;
    height:50%;
    padding: 0px;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right:20px; 
    padding-left:10px; 
    font-size: 40px; 
}
/*======================================================================================*/
.userContent{
    display:grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    height:100%;
    width:100%;
    margin:0px;
    padding: 0px;
}
.chartSection{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  center;
    background-color: #343131; 
}
.chart>img{  
    margin: 0px; 
    width:80%;
    height:auto;
} 
.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10%; /*Might cause error in fututre??Will Cause error*/
}

button.display{
    font-family: 'HK Grotesk', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: #E1d90d;
    border: none;
    margin-top: 20px;
    height: 4rem;
    width: 50%;
    border-radius:15px;
}
.display:hover,
.display{
    text-decoration: black;
    cursor: pointer;
}
/*======================================================================================*/
.foodLog{
    display:none; /* Hidden by default */
    position: fixed;
    z-index:1;
    top:0;
    left:0; /*tbr*/
    width: 100%;
    height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.foodLogContent{
    display:grid;
    grid-template-columns:repeat(2,auto);
    grid-template-rows: repeat(5,auto);
    margin: 10% 10%;   
    padding: 20px;
    background-color: #FFF9C7;
}
.foodLogContent>.headings{
    grid-column: span 2;
}
.foodLogContent h1{
    position:relative;
    font-size: 2.5rem;
    font-family: 'HK Grotesk', sans-serif;
}
.foodLogContent .close{
    color:grey;
    float:left;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.foodLogContent>*{
    margin-left: 1%;
}


.foodLogInput{
    padding: 3%;
    font-size: 1.5rem;
}
.foodLogInput>label,input{
    font-family: 'HK Grotesk', sans-serif;
}
.foodLogInput>label{
    font-weight: bold;
}
.foodLogInput>input{
    padding: 0.25%;
    font-size: 1rem;
    border-radius: 5px 0%;
    border-width: .25px;
    height:90%;
    background-color: #FFF9C7;
    float:right;
}
.foodLogInput.carbs{

}.foodLogInput.carbs input{
    float:right;
}
.foodLogInput{
    margin-top: 0;
    text-align: center;
}
.foodLogContent>button{
    font-family: 'HK Grotesk', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: #E1d90d;
    border: none;
    height: 4rem;
    width: 50%;
    border-radius:15px;
    margin-left: 75%;
    grid-row:5;
}
.foodLogContent>button:hover,
.foodLogContent>button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.foodList{
    display:flex;
    flex-direction: column;
    margin-top: 4%;
    gap:10px;
    overflow-x: hidden; /*for hiding horizontal scroll bar*/
    overflow-y: auto; /*for vertical scroll bar*/   
}
.foodBox{
    background-color: #FFF9C7;
    border-radius: 25px;
    width:98%;
    height:100px;
} 
.foodBox .ListName{
    font-weight: bold;
    font-size:1.5rem;
    font-family: 'HK Grotesk', sans-serif;
    width:20%;
    margin-left: 5%;
}
.foodListContent {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.foodBox .Value{
    margin-top: 2%;
    display: flex; 
    justify-content: space-around; 
    font-size: 1rem; 
    width:20%;
    font-family: 'HK Grotesk', sans-serif;
}
.foodList .headings{
    display: flex;
    font-size:1rem;
    margin-left:20%;
    margin-top:3% ;
    justify-content: space-around;
    font-weight: bold;
    font-family: 'HK Grotesk', sans-serif;
}
label{
    float:left;
    margin-left:10px;
}
/* imrpove the following code*/
.cals{
    grid-column-start: 1;
}
.prot{
    grid-column-start: 2;
    grid-row-start: 2;
}
.fat{
    grid-column-start: 2;
    grid-row-start: 3;
}
.carbs{
    grid-column-start: 2;
    grid-row-start: 4;

}







