body{
    height: 100%;
    background-color: black;
}
.layoutManager{
display: block;
height: 100%;
width: 100%;
position: fixed;
top:0;
left:0;
}
/*======================================================================================*/
.nav-bar{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content:flex-start ;
    align-items: center;
    background-color: #E1d90d;
    font-size: 1.3rem;
    font-family: 'HK Grotesk', sans-serif;  
    gap:40px;
}
.nav{
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}
.title{ 
    height:100%;
    background-color: black;
}
.title>h1{
    color:#E1d90d ;
    margin: 0px;
    height:50%;
    padding: 0px;
    padding-top: 10%;
    padding-bottom: 5%;
    padding-right:20px; 
    padding-left:10px; 
    font-size: 40px; 
}
/*======================================================================================*/
.userContent{
    display:grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    height:100%;
    width:100%;
    margin:0px;
    padding: 0px;
}
.chartSection{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:  center;
    background-color: #343131; 
}
.chart>img{  
    margin: 0px; 
    width:80%;
    height:auto;
} 
.chart{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10%; /*Might cause error in fututre??Will Cause error*/
}

button.display{
    font-family: 'HK Grotesk', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    background-color: #E1d90d;
    border: none;
    margin-top: 20px;
    height: 4rem;
    width: 50%;
    border-radius:15px;
}
.display:hover,
.display{

}
/*======================================================================================*/
.foodLog{
    display:none; /* Hidden by default */
    position: fixed;
    z-index:1;
    top:0;
    left:0; /*tbr*/
    width: 100%;
    height:100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.foodLogContent{
    display:flex;
    position: relative;
    margin: 15% auto;   
    padding: 20px;
    text-align: center;
    background-color: #FFF9C7;
}
.foodLogContent>.close{
    color:grey;
    float:left;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}


