body{
    height: 100%;
    background-color: black;
    margin:0x; 

}
.layoutManager{
display: block;
height: 100%;
width: 100%;
position: fixed;
top:0;
left:0;
border: 20px;
}
.nav-bar{
    /*navigation-bar container */
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
    justify-content:flex-start ;
    align-items: center;
    background-color: #E1d90d;
    font-size: 1.3rem;
    font-family: 'HK Grotesk', sans-serif;  
}
.nav{ 
    /*navigation bar divs*/
    font-family: 'HK Grotesk', sans-serif;
    margin: 0;
    padding: 3%;
}
.nav.progress{
    font-weight: bold;
    background-color: yellow !important;
}
 .nav:hover,
.nav:focus{
    /*adds animation when clicking/hovering*/
    background-color:yellow;
    cursor: pointer;
} 
.nav-bar>.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
    height:91.2px;
    background-color: black;
    color:#E1d90d;
    margin: 0px;
    padding-right:20px; 
    padding-left:10px; 
    font-size: 40px; 
}
.nav-bar a{
    text-decoration: none;
    color: #000000;
}
.style1 {
	border-style: solid;
	border-color: #000000;
	color: #FFFF00;
	font-size: 25px;
	border-bottom-color:white;
	text-align: justify;
    
}
.style2 {
	color: #FFFFFF;
	text-align: justify;
	font-size: 0.9rem;
    font-family: 'HK Grotesk', sans-serif; 
}
.style3 {
	color: #FFFF00;
	font-size: 40px;
}
table, tr, th, td {
	margin: 20px;
    border-collapse: collapse;
    margin-left: 50px;
}
#g{
    border: 20px solid yellow; 
    background-color: yellow;
    margin-bottom: 0px;
}
.text {
    text-align: left;
    font-size: 40px;
    color: #FFFFFF;
    font-family: 'HK Grotesk', sans-serif; 
}
.chart {
    height: 300px;
    float: right;
    margin-left: 0px;
}