body{
    background-color: black;
    color: white;
}

.title{
        margin-top: 0;
        padding: 10%;
        font-family: 'HK Grotesk', sans-serif;
        font-size: 2.3rem;    
}

a{
    color: #E1d90d;
    text-decoration: none;
}

.slogan{
    padding: 10%;
    margin-top: 1%;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: lighter;
    font-size:3.5rem;
}

.container{
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
img.Home1{
  
    margin-top: 0;
    width: 450px;
    height: auto;
    grid-row-end: span 2;
    top: 0; 
    left: 0; 
}
button,.login.register{
    margin: auto;
    margin-top: 0;
    margin-left: 50%;
    height: 3rem;
    width: 50%;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bolder;
    background-color: #E1d90d;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px
}
