*{
	box-sizing:border-box;
}
html {
  height: 100%;
  width: 100%;
}
body{
    background-color: black;
    color: white;
	height:100%;
	width: 100%;
	display:flex;
	justify-content:center;
	align-content:center;
}
a{
    color: #E1d90d;
    text-decoration: none;
}
h1{
	margin-top: 0;
    padding: 10% 10% 0 10%;
    font-family: 'HK Grotesk', sans-serif;
    font-size: 2.3rem;  
}
.description{
    font-family: 'HK Grotesk', sans-serif;
    font-weight: lighter;
    width: fit-content
}
form{
    font-family: 'HK Grotesk', sans-serif;
    font-size: 1.3rem; 
}
p,#gender{
	width: 150px;
	font-size: 1.3rem
}
label{
  width: 150px;
  display: inline-block
}
#div1,#div2,#div3{
	width:fit-content;
}
#sub{
    margin: auto;
    margin-top: 30px;
    height: 3rem;
    width: 50%;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bolder;
    background-color: #E1d90d;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:10px
}
#container{
	width:60%;
	height: 100%;
    background-color:#242420;
	border-radius:25px;
}
div{
	/* background-color:#242420; */
}